{% extends 'index.html' %}
{% block content %}
    <div class="container" style="margin-top:50px">
        <div class="jumbotron bg-info">
            <h1>Flask <small>{% if title %}{{title}}{% else %}JINJA2 템플릿입니다{% endif %}</small></h1>
        </div><!--jumbotron-->
        <div class="card-deck my-5">
            <div class="card" >
              <img class="card-img-top" src="{{url_for('static',filename='images/woman_avatar.png')}}" alt="Card image" >
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary stretched-link">See Profile</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="{{url_for('static',filename='images/man_avatar.png')}}" alt="Card image" >
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary stretched-link">See Profile</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="{{url_for('static',filename='images/woman_avatar.png')}}" alt="Card image" >
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary stretched-link">See Profile</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="{{url_for('static',filename='images/man_avatar.png')}}" alt="Card image" >
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary stretched-link">See Profile</a>
              </div>
            </div>
        </div>
        {% if year %}
        <div>
            올해는 <h3>{{year}}</h3>년 입니다.
        </div>
        {% endif %}
    </div><!--container-->
{% endblock %}
